<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Made Just for You Langaaaaa!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="card">
    <h1>Will You Be My Valentine?</h1>

    <p>
      I made this little page just for you,<br>
      Langaaaaa koooooo! 💕
    </p>

    <div class="buttons">
      <a href="/yes"
         class="btn yes"
         style="transform: scale({{ 1 + no_clicks * 0.3 }});">
        Yes 💖
      </a>

      <a href="/no" class="btn no">
        No 💔
      </a>
    </div>
  </div>
</body>
</html>
