<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YAY 💕</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="card">
        <h1>Yay! I'm So Happy Loveeeeeeeeeee!</h1>
        <p>
            I Miss You So Much Loveeeeeeeeeeeeeeeee, I know you're busy po ngayon and sorry naabala kita kanina po. Forgive me poooo. Kahit madami u gawa, dont forget mag rest haa mwahhmwahhhhh!!
        </p>
    </div>
</body>

</html>
